nav {
  margin: 0 auto 0 5em;
  padding: 10px;
  width: 960;
  background-color: #0cbadf;
}

nav ul,
nav ul li,
nav ul li a {
  margin: 0;
  padding: 0;
}

nav ul {
  width: 960px;
  list-style: none;
}

nav ul li {
  padding-top: 0.5em 0;
  width: 150px;
  border: 1px solid #2c4762;
  background-color: #ffffff;
  text-align: center;
}

nav#case1 ul li {
  display: inline;
}

nav#case2 ul li {
  display: inline-block;
}
